* {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: auto;
    /* display: flex;
    justify-content: center;
    flex-direction: column;  */
    height: 100vh;
}

.DarkLightToggle {
    display: flex;
    justify-content: center;
}

.dark-mode {
    background-color: #1a1919;
    color: #999;
    /* height: 100%; */
    transition: background-color 0.25s ease-in-out;
}

.light-mode {
    background-color: #fff;
    color: #333;
    /* height: 100%; */
    transition: background-color 0.25s ease-in-out;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.taskTime {
    color: #999;
}

li {
    margin-top: 25px;
    background-color: blue;
    list-style: none;
}

button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.buttonStartTask {
    background-color: cadetblue;
}

.buttonComplete {
    background-color: chartreuse;
}

.buttonRemove {
    background-color: red;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
}

.hideDiv {
    display: none;
}

.testing {
}
